project/prescriptions/wsdl/prescription_service.wsdl

<definitions name="PrescriptionService"
             targetNamespace="http://example.com/prescriptions"
             xmlns:tns="http://example.com/prescriptions"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xsd:schema targetNamespace="http://example.com/prescriptions">
            <xsd:element name="AddPrescriptionRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="patientId" type="xsd:int"/>
                        <xsd:element name="medication" type="xsd:string"/>
                        <xsd:element name="dosage" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AddPrescriptionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="prescriptionId" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="AddPrescriptionRequestMessage">
        <part name="parameters" element="tns:AddPrescriptionRequest"/>
    </message>
    <message name="AddPrescriptionResponseMessage">
        <part name="parameters" element="tns:AddPrescriptionResponse"/>
    </message>
    <portType name="PrescriptionPortType">
        <operation name="AddPrescription">
            <input message="tns:AddPrescriptionRequestMessage"/>
            <output message="tns:AddPrescriptionResponseMessage"/>
        </operation>
    </portType>
    <binding name="PrescriptionBinding" type="tns:PrescriptionPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="AddPrescription">
            <soap:operation soapAction="AddPrescription"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="PrescriptionService">
        <port name="PrescriptionPort" binding="tns:PrescriptionBinding">
            <soap:address location="http://localhost:5000/soap/prescriptions"/>
        </port>
    </service>
</definitions>
