project/medical_records/wsdl/medical_record_service.wsdl

<definitions name="MedicalRecordService"
             targetNamespace="http://example.com/medicalrecords"
             xmlns:tns="http://example.com/medicalrecords"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xsd:schema targetNamespace="http://example.com/medicalrecords">
            <xsd:element name="CreateRecordRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="patientName" type="xsd:string"/>
                        <xsd:element name="details" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CreateRecordResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="recordId" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="CreateRecordRequestMessage">
        <part name="parameters" element="tns:CreateRecordRequest"/>
    </message>
    <message name="CreateRecordResponseMessage">
        <part name="parameters" element="tns:CreateRecordResponse"/>
    </message>
    <portType name="MedicalRecordPortType">
        <operation name="CreateRecord">
            <input message="tns:CreateRecordRequestMessage"/>
            <output message="tns:CreateRecordResponseMessage"/>
        </operation>
    </portType>
    <binding name="MedicalRecordBinding" type="tns:MedicalRecordPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CreateRecord">
            <soap:operation soapAction="CreateRecord"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="MedicalRecordService">
        <port name="MedicalRecordPort" binding="tns:MedicalRecordBinding">
            <soap:address location="http://localhost:5000/soap/medicalrecords"/>
        </port>
    </service>
</definitions>
